@using Entities.Identity;
@using Microsoft.AspNetCore.Identity;
@model Entities.Concrete.Kitap
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    @{
    var bul = UserManager.FindByNameAsync(User.Identity.Name);
    }

<div class="comment-top">
   
        <h4>Yorum Bırakın!</h4>
        <hr />
        <div class="comment-bottom">
            <form asp-controller="Yorum" asp-action="Yorumla" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input name="YorumAd" class="form-control" value="@User.Identity.Name" readonly />
                <span  class="text-danger"></span>
            </div>
                <div class="form-group">
                <label  class="control-label"></label>
                <textarea class="form-control" name="YorumIcerik" placeholder="Yorum..." required=""></textarea>
                <span class="text-danger"></span>
            </div>
                <input hidden name="KitapID" value="@Model.KitapID" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit">Yorum Yap!</button>
            </div>
              
            </form>
        </div>
    </div>