@model Entities.Concrete.Kitap


	<hr />
	<div class="container">
		<div class="row">
			<div class="col-xl-4">
				<div class=" border rounded ">
				<div class="active p-4 border ">
					<img src="~/@Model.KitapResmi" class="card-img-top  " style="height:500px" alt="">
				</div>
			</div>
		</div>
			<div class="col-xl-6">
				 <div class="p-5">
				<h1 style="font-family:Arial,Helvetica,sans-serif"><b>@Model.KitapAdi</b></h1>
				<h6>
					<b>Yazar</b> : @Model.Yazar.YazarAd | <b>Yayın Evi</b> : @Model.YayinEvi
				</h6>
			</div>


			<div class="pl-5">			
				@Model.KitapTanimi
			</div>
			</div>
		</div>
		<hr />
		<div class="row border ">
			<div class="p-3">
			@await Component.InvokeAsync("Yorumlar",new{id=Model.KitapID})
			<partial name="_YorumYapPartial" />
		</div>
		</div>

	</div>
	


	