@model List<Entities.Concrete.Kitap>


<body>
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle text-center fw-bold">@ViewBag.Kategori Kitapları</h3>
			<hr />
			<div class="row inner-sec">
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="row mb-4">

						@foreach (var item in Model)
						{
							<div style="margin-bottom:10px" class="col-lg-3 offset-1 card">
								<a href="single.html">
									<img style="height: 300px" src="~/@item.KitapResmi" class="card-img-top img-fluid" alt="">
								</a>
								<div class="card-body">

									<h5 class="card-title">
										<a style="text-decoration:solid" class="text-black" href="single.html">@item.KitapAdi</a>
									</h5>
									<p class="card-text mb-3">@item.KitapTanimi.Substring(0,22)... </p>
									<a class="btn btn-primary read-m" asp-controller="Kitap" asp-action="KitapDetaylari" asp-route-id="@item.KitapID">Detaylar</a>
								</div>
							</div>
							<br />
						}
					</div>

				</div>
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
					@await Component.InvokeAsync("KategoriList")
				</aside>
			</div>
		</div>
	</section>

</body>